<script type="text/mustache">

</script>



<div id="dialog-form" title="Share a deal!">
  <p class="validateTips">All form fields are required.</p>

<%= form_for Deal.new, :html => {:class => 'deal-submit-form'} do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :body, "Description" %>
    <%= f.text_area :body %>
    <%= f.label :source, "Deal Source URL" %>
    <%= f.text_field :source %>
    <%= f.submit %>
<% end %>

</div>
