<script id='edit-deal-form' type="text/mustache">
  {{#deal}}
  <form>
    <h3>Edit your deal</h3>
    <label for='title'></label>
    <input type='text' name='title' value="{{&title}}">

    <label for='body'>Description</label>
    <textarea name='body'>{{body}}</textarea>

    <label for='source'>Deal Source URL</label>
    <input type='text' name='source' value="{{&source}}">

    <input type='submit' value='Finish Editing'>
  </form>
  {{/deal}}
</script>


<div id="dialog-form" title="Share a deal!">
  <p class="validateTips">All form fields are required.</p>

<%= form_for Deal.new, :html => {:class => 'deal-submit-form'} do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :body, "Description" %>
    <%= f.text_area :body %>
    <%= f.label :source, "Deal Source URL" %>
    <%= f.text_field :source %>
    <%= f.submit %>
<% end %>

</div>
