<!DOCTYPE html>
<html>
<head>
  <title>Welcome to MegaMegaDeals</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  </head>
<body>
<div class="App">

  <%= render 'layouts/navbar' %>

  <div class="slider">
  </div>
  <div class="flash-container">
    <div class="flash-message">
    </div>
  </div>
  <%= image_tag('ajax-loader.gif', :id => "ajax-loader") %>
  <%= yield %>
</div>
</body>
</html>